/* globa styles */

/* global variables*/
:root {
    --header-footer-background-color: #404040;
    --lightskyblue: lightskyblue;
    --lightgray: lightgray;
    --about-me-work-border: #333366;
    --rgba-border-color-opacity: rgba(135, 206, 250, 0.8);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } 

body {
    font-family: Helvetica, Arial, sans-serif;
  }

/* Smoth Scrolling */
html {
    scroll-behavior: smooth;
  }
  
/*Header styling*/
  header {
    display: flex; /* Flex container to display the child elements as flex with space between and wrap */
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    background-color: var(--header-footer-background-color); 
  }
  
  header a {
    text-decoration: none;
  }

  header h1 {

    /* At bigger screens create space at left of h1 on header */
    padding-left: 50px;
    padding-right: 10px;
    margin: 5px 0;
    background-color: var(--lightskyblue);

  }

  header h1 a{
  color: var(--header-footer-background-color);
  }
  
  header nav ul {
    display: flex; /* Flex container to display the child elements as flex with flex-end, wrap, and align the items in center */
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 0px;
  }
  
  header nav ul li {
    /*Viewport font-size to help with the responsiveness of the web page */
    font-size: 1.8vw;
    /* Align nave element to closely match the header h1 element*/
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    
  }
  
  /* Remove text anchor default decoreations and apply specific styles individulally*/
  header nav ul li a {
    /* Longer bootom border under the element as mockup */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--lightskyblue);
    color: var(--lightskyblue);
  }
/*Header styling end*/


/* Hero section Stiling */

.hero {
    background-image: url('../images/hero_bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    background-attachment: fixed;
    background-position: 80%;
  }

  .my_photo img {
    max-width: 200px;
  }

  .we_strong_together h2 {
    font-size: 30px;
    font-style: italic;
    padding-left: 50px;
    padding-right: 10px;
    margin: 5px 0;
    background-color: var(--lightskyblue);
  } 

/* Hero section Stiling end*/